.input__elem, .input__select, input{
  border: 1px solid #CFD8DC;
  border-radius: 2px;
  padding: 0 1rem;
  min-height: 40px;
  outline: 0;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.9;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
}
