.categories-story{
  margin-top: 60px;
  &_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_item{
    height: 530px;
    width: 32%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding-top: 265px;

    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin-bottom: 3rem;
    &.background-small{
      background-size: 380px 265px;
      background-position: top;
    }
    &.background-big{
      background-size: cover;
      background-position: center;
      .categories-story_name{
        color: #fff;
      }
      .categories-story_title{
        color: #fff;
      }
      .categories-story_link{
        color: #fff;
      }
    }
    &.background-huge{
      background-size: cover;
      background-position: center;

      width: 66%;
      .categories-story_name{
        color: #fff;
      }
      .categories-story_title{
        color: #fff;
      }
      .categories-story_link{
        color: #fff;
      }
    }
  }
  &_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &_info{
    padding: 1.5rem 2rem;
  }
  &_link{
    text-decoration: none;
    color: #000;
  }
  &_name{
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #E8961C;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  &_title{
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-top: 10px;
  }
  .author{
    padding: 1.5rem 2rem;
    border-top: 1px solid #E6E6E6;
    &_name{
      width: 75px;
      color: #99a5ab;
    }
    &_info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}