.top-story{
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 40px;
  &_header{
    padding: 25px 25px 40px;
  }
  &__link{
    color: #000;
    text-decoration: none;
  }
  &__title{
    margin-bottom: 2rem;
  }
  .humble--time{
    color: #000;
  }
  &_footer{
    padding: 16px 30px 32px;
  }
  &_descr{
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .author_row{
    width: 100%;
  }
}

.editors-mark{
  font-size: 1.3rem;
  line-height: 2.4rem;
  text-align: center;
  background: #FF5722;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding: 0 16px;

  position: absolute;
  bottom: .8rem;
  left: .8rem;
}

.top-story__img-wrapper, .article__main-img-wrapper{
  display: block;
  max-width: 100%;
  position: relative;
}

.top-story__img, .article__main-img{
  display: block;
  max-width: 100%;
}