//- config.jade


//- Templates


//- Scripts

- var jquery 			= true
- var mousewheel 	    = true
- var featherlight 		= false
- var smoothscroll 		= false
- var equalheight  		= false
- var lazyload  		= false
- var tabs 				= false
- var mask		 		= false
- var masonry	 		= false
- var scrollbar 		= false