footer.footer
    .footer__container
        .footer__nav
            ul.footer__nav-list
                li.footer__nav-item
                    a.footer__nav-link(href="#!") News
                li.footer__nav-item
                    a.footer__nav-link(href="#!") Economic
                li.footer__nav-item
                    a.footer__nav-link(href="#!") Crypto tips
                li.footer__nav-item
                    a.footer__nav-link(href="#!") Forex tips
                li.footer__nav-item
                    a.footer__nav-link(href="#!") Investing
        .footer__disclaimer
            p.footer__disclaimer-text Disclaimer: Any financial advice given on CryptoComes is written for informational purpose only. Conduct your own research by contacting financial experts before making any investment decisions.
        .footer__row
            .footer__copy
                .footer__copy-text © 2019 ThaiForexNews. All rights reserved
                a.footer__copy-link(href="#!Terms and conditions") Terms and conditions
            a.footer__logo(href="#!")
script(src='scripts/jquery.min.js')

script(src='scripts/jquery.functions.js')
