extends template/layout

block title
    title Article | FXNews

block content
    .content
        .page-container.container
            .main-block
                .article
                    .article__main
                        .article__header
                            h1.article__title The Key To Unlocking Africa’s Economic Potential Lies In Its Power Supply
                            .author
                                .author_avatar
                                    img(src="./img/content/author_image/item_1.png")
                                .author_info
                                    a.author_name(href="#!") By Luke Kawa
                                    .author_row
                                        time.humble.humble--time 25 Jul, 12:00
                                        button.humble.humble--views.humble--tiny 123.5k
                                        button.humble.humble--comments.humble--tiny 21
                            p.article__descr If one had to name a single resource key to unlocking Africa’s economic potential, including job creation, access to knowledge, agriculture and industrial transformation, the power supply would have to be high up on that list.
                        .article__main-img-wrapper
                            img.article__main-img(src="./img/content/article/item_1.png")
                            .editors-mark Editor’s pick
                        .article__content
                            .content-container
                                p In the early days of crypto community conferences, the number of women attending and especially speaking was notoriously low, but in the last couple of years, every major crypto and Blockchain event diligently features a Women in Crypto panel. The second <a href="#!link"> Crypto Invest Summit</a>, which took place this week at LA’s Convention Center, was no exception; indeed, the conference went all out for a full Women of Crypto track.
                                h2 Women of Crypto as opening act
                                p It’s worth noting, however, that the Women’s track took place on the day before the actual conference began. To avoid confusion, the event’s agenda page ran the following missive in red capitals: “No conference and expo on Monday. Conference and expo days are Tuesday and Wednesday. Monday is Women of Crypto pre-conference track and kickoff party.
                                h2 Ladies only
                                p Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women made up roughly 20 percent of the speakers. In an earlier interview with U.Today, Crystal Rose–who was featured both in the Women’s track and on the Main Stage–mentioned her disappointment with the way conference organizers tend to structure panels:
                                blockquote
                                    p Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women <a href="#!link"> made up roughly 20 percent </a> of the speakers.
                                    .author
                                        .author_avatar
                                            img(src="./img/content/author_image/item_2.png")
                                        .author_info
                                            a.author_name(href="#!") By Luke Kawa
                                            .author_post Smart Media
                                p While the exclusion of men from the Women of Crypto track was a missed opportunity to foster integrated and inclusive discourse, it did give the panelists freedom to delve deep into subjects that may not have commanded the full attention of the “usual” conference crowd.
                                ul
                                    li
                                        span This is a sample of a list.
                                    li
                                        span Many panelists felt that the possibilities and opportunities promised by Blockchain technologies are especially urgent for women, people of color and residents of developing countries who are left outside the global financial system.
                                    li
                                        span During the Blockchain for Good panel, speakers discussed how Blockchain and cryptocurrency can help the unbanked millions directly, but can also provide much-needed transparency to non-profit initiatives that serve domestic and international relief causes.
                                section.article_related
                                    .article_related-info
                                        .article_related-mark Read Also
                                        a.article_related-link(href="#!")
                                            h4.article_related-title Britain Has Yet Another Tech Czar in Latest Cabinet Reshuffle
                                    a.article_related-img-wrapper(href="#!")
                                        img(src="./img/content/article/article_related/item_1.png")
                                section.article__panel
                                    .article__tags.btns-spacer
                                        a.btn.btn--hash-tag(href="#!") Article Tag
                                        a.btn.btn--hash-tag(href="#!") Article Tag
                                        a.btn.btn--hash-tag(href="#!") Article Tag
                                        a.btn.btn--hash-tag(href="#!") Article Tag
                            aside.aside-block
                                .card.card--something
                                    .something
                                        img(src="./img/content/article/aside-block/item_1.png")
                                .card.card--something
                                    .something
                                        img(src="./img/content/article/aside-block/item_1.png")
                    .categories-story
                        .categories-story_list
                            .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_8.png)')
                                .categories-story_wrap
                                    .categories-story_info
                                        a.categories-story_name(href="#!CRYPTO") CRYPTO
                                        a.categories-story_link(href="#!")
                                            h4.categories-story_title Britain Has Yet Another Tech Czar in Latest Cabinet Reshuffle
                                    .categories-story_author
                                        .author
                                            .author_avatar
                                                img(src="./img/content/author_image/item_1.png")
                                            .author_info
                                                a.author_name(href="#!") Luke Kawa
                                                .author_row
                                                    button.humble.humble--views.humble--tiny 123.5k
                                                    button.humble.humble--comments.humble--tiny 21
                            .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_8.png)')
                                .categories-story_wrap
                                    .categories-story_info
                                        a.categories-story_name(href="#!CRYPTO") CRYPTO
                                        a.categories-story_link(href="#!")
                                            h4.categories-story_title Britain Has Yet Another Tech Czar in Latest Cabinet Reshuffle
                                    .categories-story_author
                                        .author
                                            .author_avatar
                                                img(src="./img/content/author_image/item_1.png")
                                            .author_info
                                                a.author_name(href="#!") Luke Kawa
                                                .author_row
                                                    button.humble.humble--views.humble--tiny 123.5k
                                                    button.humble.humble--comments.humble--tiny 21
                            .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_8.png)')
                                .categories-story_wrap
                                    .categories-story_info
                                        a.categories-story_name(href="#!CRYPTO") CRYPTO
                                        a.categories-story_link(href="#!")
                                            h4.categories-story_title Britain Has Yet Another Tech Czar in Latest Cabinet Reshuffle
                                    .categories-story_author
                                        .author
                                            .author_avatar
                                                img(src="./img/content/author_image/item_1.png")
                                            .author_info
                                                a.author_name(href="#!") Luke Kawa
                                                .author_row
                                                    button.humble.humble--views.humble--tiny 123.5k
                                                    button.humble.humble--comments.humble--tiny 21
