extends template/layout

block title
    title Main | FXNews

block content
    .content
        .page-container.container
            .top-story
                .top-story_header
                    a.top-story__link(href="#!")
                        h2.top-story__title The Key To Unlocking Africa’s Economic Potential Lies In Its Power Supply
                    .top-story_author
                        .author
                            .author_avatar
                                img(src="./img/content/author_image/item_1.png")
                            .author_info
                                a.author_name(href="#!") By Luke Kawa
                                .author_row
                                    time.humble.humble--time 25 Jul, 12:00
                                    button.humble.humble--views.humble--tiny 123.5k
                                    button.humble.humble--comments.humble--tiny 21
                a.top-story__img-wrapper(href="#!")
                    img.top-story__img(src="./img/content/top-story/item_1.png")
                    .editors-mark Editor’s pick
                .top-story_footer
                    p.top-story_descr If one had to name a single resource key to unlocking Africa’s economic potential, including job creation, access to knowledge, agriculture and industrial transformation, the power supply would have to be high up on that list.
            .categories-story
                .title__block
                    h2.title Today’s the best
                .categories-story_list
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_1.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!FX Tips") FX Tips
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-big(style='background-image: url(./img/content/categories-story/item_2.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!INTERVIEW") INTERVIEW
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title A New Approach To Balancing Economic Development And Sustainable Energy Infrastructure
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_3.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!CRYPTO") CRYPTO
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Britain Has Yet Another Tech Czar in Latest Cabinet Reshuffle
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_4.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!INVESTOR’s ROOM") INVESTOR’s ROOM
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Equifax Breach: Are You Eligible For A $20,000 Payout?
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_5.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!BITCOINISM") BITCOINISM
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Could The NHS Really Sell Its Data For $12 Billion?
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_6.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!ROUND’n’FUN") ROUND’n’FUN
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Is Boris Johnson Or Jeremy Hunt The Best Tory Prime Minister Pick For SMEs?
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
            .categories-story
                .title__block
                    h2.title LET’s FOREX
                .categories-story_list
                    .categories-story_item.background-huge(style='background-image: url(./img/content/categories-story/item_7.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!FX Tips") FX Tips
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title  Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_3.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!FX Tips") FX Tips
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title  Is Boris Johnson Or Jeremy Hunt The Best Tory Prime Minister Pick For SMEs?
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_1.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!FINANCIALS") FINANCIALS
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Equifax Breach: Are You Eligible For A $20,000 Payout?
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_5.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!SUCKERS") SUCKERS
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21
                    .categories-story_item.background-small(style='background-image: url(./img/content/categories-story/item_6.png)')
                        .categories-story_wrap
                            .categories-story_info
                                a.categories-story_name(href="#!CRYPTO") CRYPTO
                                a.categories-story_link(href="#!")
                                    h4.categories-story_title Britain Has Yet Another Tech Czar in Latest Cabinet Reshuffle
                            .categories-story_author
                                .author
                                    .author_avatar
                                        img(src="./img/content/author_image/item_1.png")
                                    .author_info
                                        a.author_name(href="#!") Luke Kawa
                                        .author_row
                                            button.humble.humble--views.humble--tiny 123.5k
                                            button.humble.humble--comments.humble--tiny 21




