/* variables.scss */

$transition: all .15s cubic-bezier(0.000, 0.010, 1.000, 0.280);

/* General colors */

$white: #ffffff;
$black: #000000;


/* functions.scss */


/* helpers.scss */

/* TODO.scss */